# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# Coverage
coverage/

# IDE files
.vscode/
.idea/

# Temporary files
tmp/
temp/

# MySQL
*.sql.bak

# Runtime files
*.pid
*.node_modules**/
node_modules/
node_modules/**/node_modules/